*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
.front{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    right: 0;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: azure;
    z-index: 3;
    transition: 0.6s;

}
.front header{
position:absolute;
top: 0;
width:100%;
left:0;
padding: 40px 100px;
z-index: 2000;
display: flex;
align-items: center;
justify-content: space-between;
}

.toggle{
position: relative;
width: 60px;
height: 60px;
background: url('menu.png');
background-repeat: no-repeat;
background-size: 30px;
background-position: center;
cursor:pointer;

}
.logo{
    text-transform: capitalize;
    font-size: 20px;
  
}

.toggle.active{
    background: url('close.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor:pointer;

}
.menubar ul{
    list-style: none;
    position: relative;
}
.menubar ul li a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(16, 17, 17);
    text-transform: capitalize;

}
.menubar ul li a:hover{
    color: aqua;
}

.menubar{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.front.active{
    right: 300px;
}
video{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}
.overlay{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: #03b0f4;
    mix-blend-mode: overlay;

}
.textarea{
    position: relative;
}
.textarea h2{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;

}
.textarea h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;

}
.textarea p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.textarea a{
    display: inline-block;
    font-size: 1em;
    background-color: aliceblue;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    color: black;
    letter-spacing: 2px;
    text-transform: capitalize;
    transition: 0.3s;
}
.textarea a:hover{
    letter-spacing: 6px;
}
.socialmedia{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;


}
.socialmedia li
{
  list-style: none;
}
.socialmedia li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.socialmedia li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
@media(max-width:1000px){
    .front,
  .front header
  {
    padding: 40px;
  }
  .textarea h2
  {
    font-size: 2em;
  }
  .textarea h3
  {
    font-size: 1em;
  }
}
